/* Custom CSS
-------------------------*/

/* from smith new site

smith lettering: #3E3433
top bar bg: #003E50
box content: ##edebe5
featured link: #005a81
light bg: #f6f6f6
tan bg: #f3f1ed
grey heading: #666666
brown date square bg: #6E6259
lightblueonblue: #6fbee5


other useful strings
-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

this font is like sentinel - the serif one - https://fonts.google.com/specimen/Domine

*/

@import url('https://fonts.googleapis.com/css?family=Domine');

html, a, span, p, div, h1, h2, h3, h4, h5, h6, li, ul, ol, .main, button, .button, input, table, select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, th {
    //color:#333;
    color:#001f28;
}

a {
    //color: #005a81;
    color:#003E50;
}


.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0;
}

.navbar-inner {
    background-color:#003E50;
    background-image:none;
}

.navbar .brand {
    color: #fff;
    background-size: contain;
    margin: 0;
    padding: 10px 20px 10px 0px;
    text-shadow:none;
    font-family:Domine, serif;
}

.navbar a,
.usermenu .login,
.usermenu .login a,
.usermenu .moodle-actionmenu .toggle-display {
    /* style */
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    border-top-color: white;
}

.usermenu .login a:hover,
.usermenu .login a:focus,
.usermenu .moodle-actionmenu .toggle-display:hover {
    color: white;
    opacity: 0.8;
}

.jsenabled .usermenu .moodle-actionmenu.show {
    background-color: transparent;
}

.moodle-actionmenu.show[data-enhanced] .menu a {
    text-shadow: none;
}

.navbar-text,
.navbar .nav > li > a {
    /* style */
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #fff;
    text-decoration: underline;
}

#page-navbar {
    text-align: center;
}

.breadcrumb-nav .breadcrumb {
    background-color: transparent;
    line-height: 2.5em;
}

nav.breadcrumb-nav {
    margin: 0 auto 10px;
    text-align: center;
    float: none;
}

.breadcrumb li {
    white-space: nowrap;
}

.breadcrumb li .divider {
    color: #003E50;
}

.breadcrumb a[href*="course/view.php"] {
    border: 1px solid #003E50;
    padding:3px 10px 4px;
    border-radius:2px;
    //color:white;
    //background-color:#003E50;
    border:1px solid #003E50;
    text-shadow: none;
    margin-left:2px;
}

.breadcrumb a.dimmed_text[href*="course/view.php"]::after {
    content: " (hidden)";
}

#page-header {
    position: relative;
}

.path-mod #page-header h1,
.path-course #page-header h1 {
    margin: 15px 5% 55px;
    text-align: center;
}

.block {
    background-color: #edebe5;
    border:0px;
    box-shadow: none;

}

.block .header h2 {
    color: #555;
}

/* for course listings */

.coursebox {
    border: none;
}

.courses .coursebox.even {
    background-color: transparent;
}

.courses .coursebox:hover, 
.course_category_tree .courses > .paging.paging-morelink:hover {
    background-color: #eee;
}

.coursebox {
    transition: background-color 1s ease 0s;
}

.forumpost {
    background-color: transparent;
}

/* Fix no-wrap weirdness from Clean */

.activity.label span.label,
.section .summary .label {
    white-space: normal;
    line-height: inherit;
}

/* Make attached images responsive */

img[src*='pluginfile.php'] {
    max-width: 100%;
    height: auto;
}

/* bump up size of quiz attempts button */

.quizattemptcounts {
    font-size: 2em;
    padding: 1em;
}

.quizattemptcounts p {
    font-size: 0.5em;
}

/* accessibility */
.activity.label .dimmed_text {
    opacity: 1.0;
}

.course-content ul li.section.hidden {
    opacity: 1.0;
}

.course-content ul li.section.hidden h3,
.course-content ul li.section.hidden .summary {
    color: #999;
}


/* mew styles summer 2018 */
.course-content ul li.section.main {
    border-bottom: 1px solid #eee;
}

/* //#searchform_button,

a.btn, input[type="submit"],  {
    box-shadow: none;
    text-shadow:none;
    background-image:none;
    border-radius:2px;
    background-color:
    color:white;
    background-color:#edebe5;
    border:2px solid #3E3433; 

}

*/
a.btn-primary {
    /* color:white;
    background-color:#005a81; */
}

a.btn-primary:hover {
    /* background-color:#003E50; */
}

/* users name in top right navbar */
.navbar-inner .userbutton .usertext {
    color:white !important;
} 

/* text input areas - no drop shadow inside */
textarea, input[type="text"], input[type="password"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
}

/* forms at bottom of page often have gray background we want to get rid of */
table#form td.submit, .form-buttons, .path-admin .buttons, #fitem_id_submitbutton, .fp-content-center form+div, div.backup-section+form, #fgroup_id_buttonar {
    background-color:white !important;
    border-top:1px solid white !important;
}



/* all buttons */
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], a.btn, #dock .dockeditem .dockedtitle div {
    /* border:1px solid red !important;
    color:green !important; */
    text-shadow:none !important;
    background-image:none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    /* background-color: #5d6c21 !important; */
    /* background-color: #005a81 !important; */
    /* color:white!important; */
    /* border:0px solid white !important; */
    /* padding:13px 18px !important; */
    border:1px solid #005a81 !important;
    background-color: white !important;
    color: #005a81 !important;
}

/* currently blue buttons */
input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, a.btn.btn-primary {
    /* color:blueviolet !important; */
    background-color:#005a81 !important;
    /* color:#6fbee5 !important; */
    color:white !important;
}

/* gray background in various locations */

#filterform {
    background-color: #f3f1ed !important;
    border-width: 0px important !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}

/* from muddle */
.navbar .nav li a {
    color:white !important;
    text-shadow:none !important;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

